<div class="container my-5">
  <h2>Overview</h2>
  <table class="table table-hover table-striped">
    <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Lowest Price / 100g</th>
      <th>Avg Price / 100g</th>
      <th>Cheapest Supplier</th>
    </tr>
    </thead>
    <tbody>

    <tr [class.alert-secondary]="chocolate === selectedBrand " *ngFor="let chocolate of chocolates"
        routerLink="/details/{{chocolate.id}}" >
      <td> {{ chocolate.id }} </td>
      <td> {{ chocolate.name }} </td>
      <td> {{ chocolate.brand }} </td>
      <td><span *ngIf="chocolate.prices.length != 0; else not_available"> {{ getLowestPrice(chocolate.prices) }}
        &euro;</span>
        <ng-template #not_available>Not available</ng-template>
      </td>
      <td><span *ngIf="chocolate.prices.length != 0, else not_available"> {{ getAveragePrice(chocolate.prices) }} &euro;</span></td>
      <td>
        <a class="card-link" href="{{cheapestSupplierLink}}">{{cheapestSupplier}}</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>


